<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Tsg_Request>
            <version>0.0.2</version>
        </Tsg_Request>
    </modules>
    <global>
        <models>
            <tsg_request>
                <class>Tsg_Request_Model</class>
                <resourceModel>tsg_request_resource</resourceModel>
            </tsg_request>
            <tsg_request_resource>
                <class>Tsg_Request_Model_Resource</class>
                <entities>
                    <get>
                        <table>tsg_request_get</table>
                    </get>
                    <relative>
                        <table>tsg_request_relative</table>
                    </relative>
                </entities>
            </tsg_request_resource>
        </models>
        <resources>
            <tsg_request_setup>
                <setup>
                    <module>Tsg_Request</module>
                </setup>
            </tsg_request_setup>
        </resources>
        <helpers>
            <tsg_request>
                <class>Tsg_Request_Helper</class>
            </tsg_request>
        </helpers>
        <blocks>
            <tsg_request>
                <class>Tsg_Request_Block</class>
            </tsg_request>
        </blocks>
    </global>
    <frontend>
        <routers>
            <Tsg_Request>
                <use>standard</use>
                <args>
                    <module>Tsg_Request</module>
                    <frontName>request</frontName>
                </args>
            </Tsg_Request>
        </routers>
        <layout>
            <updates>
                <tsg_request>
                    <file>tsg_request.xml</file>
                </tsg_request>
            </updates>
        </layout>
    </frontend>
    <crontab>
        <jobs>
            <kozar_actions>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>tsg_request/observer::sendRequest</model>
                </run>
            </kozar_actions>
        </jobs>
    </crontab>
</config>