<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Kozar_Actions>
            <version>0.0.3</version>
        </Kozar_Actions>
    </modules>
    <global>
        <models>
            <kozar_actions>
                <class>Kozar_Actions_Model</class>
                <resourceModel>kozar_actions_resource</resourceModel>
            </kozar_actions>
            <kozar_actions_resource>
                <class>Kozar_Actions_Model_Resource</class>
                <entities>
                    <action>
                        <table>kozar_actions_action</table>
                    </action>
                    <product>
                        <table>kozar_actions_product</table>
                    </product>
                </entities>
            </kozar_actions_resource>
        </models>
        <resources>
            <kozar_actions_setup>
                <setup>
                    <module>Kozar_Actions</module>
                </setup>
            </kozar_actions_setup>
        </resources>
        <helpers>
            <kozar_actions>
                <class>Kozar_Actions_Helper</class>
            </kozar_actions>
        </helpers>
        <blocks>
            <kozar_actions>
                <class>Kozar_Actions_Block</class>
            </kozar_actions>
        </blocks>
    </global>
    <frontend>
        <routers>
            <Kozar_Actions>
                <use>standard</use>
                <args>
                    <module>Kozar_Actions</module>
                    <frontName>actions</frontName>
                </args>
            </Kozar_Actions>
        </routers>
        <layout>
            <updates>
                <kozar_actions>
                    <file>kozar_actions.xml</file>
                </kozar_actions>
            </updates>
        </layout>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <kozar_actions>
                        <class>kozar_actions/observer</class>
                        <method>addToTopmenu</method>
                    </kozar_actions>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <kozar_actions after="Mage_Adminhtml">Kozar_Actions_Adminhtml</kozar_actions>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <!--<admin>
        <routers>
            <kozar_actions_admin>
                <use>admin</use>
                <args>
                    <module>Kozar_Actions</module>
                    <frontName>kozar_actions_admin</frontName>
                </args>
            </kozar_actions_admin>
        </routers>
    </admin>-->
    <crontab>
        <jobs>
            <kozar_actions>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>kozar_actions/observer::generateStatus</model>
                </run>
            </kozar_actions>
        </jobs>
    </crontab>
</config>